<form id="search-form" method="GET">
  <label>
    Translation
    <!-- TODO: Make this a combo box -->
    <input type="text" name="translation" value="BSB">
  </label>
  <label>
    Phrase
    <input type="text" name="phrase">
  </label>
  <div>Optional inputs: 
    <label>
      Book
      <!-- TODO: Make this a combo box -->
      <input type="text" name="book">
    </label>
    <label>
      Chapter
      <!-- TODO: Make this a combo box -->
      <input type="text" name="chapter">
    </label>
    <label>
      Testament
      <select name="testament">
        <option value="Both" selected>Both</option>
        <option value="New Testament">New Testament</option>
        <option value="Old Testament">Old Testament</option>
      </select>
    </label>
  </div>
  <input type="submit" value="Search">
</form>
<div id="search-results"></div>

<script>
  const form = document.getElementById("search-form");

  // Fetch results from /search and insert them into #search-results
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const params = new URLSearchParams(formData);
    const url = `/search?${params}`;
    console.log(url);
    fetch(url)
      .then(response => response.text())
      .then(html => {
        document.getElementById("search-results").innerHTML = html;
      });
  });
</script>