<form method="GET" action="/search">
  <label>
    Translation
    <!-- TODO: Make this a combo box -->
    <input type="text" name="translation" value="BSB">
  </label>
  <label>
    Phrase
    <input type="text" name="phrase">
  </label>
  <div>Optional inputs: 
    <label>
      Book
      <!-- TODO: Make this a combo box -->
      <input type="text" name="book">
    </label>
    <label>
      Chapter
      <!-- TODO: Make this a combo box -->
      <input type="text" name="chapter">
    </label>
    <label>
      Testament
      <select name="testament">
        <option value="Both" selected>Both</option>
        <option value="New Testament">New Testament</option>
        <option value="Old Testament">Old Testament</option>
      </select>
    </label>
  </div>
  <input type="submit" value="Search">
</form>

<!-- TODO: Fetch search results  -->
<script></script>