<form method="GET" action="/search">
  <!-- TODO: Make these combo boxes -->
  <label>
    Translation
    <input type="text" name="translation" value="KJV">
  </label>
  <label>
    Phrase
    <input type="text" name="phrase">
  </label>
  <div>Optional inputs: 
    <label>
      Book
      <input type="text" name="book">
    </label>
    <label>
      Chapter
      <input type="text" name="chapter">
    </label>
    <label>
      Testament
      <input type="text" name="testament">
    </label>
  </div>
  <input type="submit" value="Search">
</form>

<!-- TODO: Fetch search results  -->
<script></script>